# MongoDB
MongoDB stores data in JSON-like documents, which makes the database very flexible and scalable.

To be able to experiment with the code examples in this tutorial, you will need access to a MongoDB database.

You can download a free MongoDB database at https://www.mongodb.com.

Or get started right away with a MongoDB cloud service at https://www.mongodb.com/cloud/atlas.

In [5]:
# pip3 install pymongo
import pymongo
from pymongo.server_api import ServerApi

uri = "mongodb+srv://zuxing:88889999@cluster0.tgdoqf9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

myclient = pymongo.MongoClient(uri, server_api = ServerApi('1'), tls=True, tlsAllowInvalidCertificates=True)

mydb = myclient["mydatabase"]

In [4]:
from pymongo import MongoClient

uri = "mongodb+srv://zuxing:88889999@cluster0.tgdoqf9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(uri, tls=True, tlsAllowInvalidCertificates=True)

try:
    database = client.get_database("sample_mflix")
    movies = database.get_collection("movies")

    # Query for a movie that has the title 'Back to the Future'
    query = { "title": "Back to the Future" }
    movie = movies.find_one(query)

    print(movie)

    client.close()

except Exception as e:
    raise Exception("Unable to find the document due to the following error: ", e)

{'_id': ObjectId('573a1398f29313caabce9682'), 'plot': 'A young man is accidentally sent 30 years into the past in a time-traveling DeLorean invented by his friend, Dr. Emmett Brown, and must make sure his high-school-age parents unite in order to save his own existence.', 'genres': ['Adventure', 'Comedy', 'Sci-Fi'], 'runtime': 116, 'metacritic': 86, 'rated': 'PG', 'cast': ['Michael J. Fox', 'Christopher Lloyd', 'Lea Thompson', 'Crispin Glover'], 'poster': 'https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_SX677_AL_.jpg', 'title': 'Back to the Future', 'fullplot': 'Marty McFly, a typical American teenager of the Eighties, is accidentally sent back to 1955 in a plutonium-powered DeLorean "time machine" invented by slightly mad scientist. During his often hysterical, always amazing trip back in time, Marty must make certain his teenage parents-to-be meet and fall in love - so he can get back to the future.', 'languages': ['English'], 'released': datetime.datetime(1985, 7, 3, 0, 0), 'directors': ['Robert Zemeckis'], 'writers': ['Robert Zemeckis', 'Bob Gale'], 'awards': {'wins': 19, 'nominations': 24, 'text': 'Won 1 Oscar. Another 18 wins & 24 nominations.'}, 'lastupdated': '2015-09-12 00:29:36.890000000', 'year': 1985, 'imdb': {'rating': 8.5, 'votes': 636511, 'id': 88763}, 'countries': ['USA'], 'type': 'movie', 'num_mflix_comments': 0}

In [6]:
# Send a ping to confirm a successful connection
try:
    myclient.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [7]:
# Return a list of your system's databases:
print(myclient.list_database_names())

['sample_mflix', 'admin', 'local']

In [8]:
# Check if "mydatabase" exists:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

# Create Collection
A **collection** in MongoDB is the same as a **table** in SQL databases.
## Creating a Collection
To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist

In [9]:
import pymongo

uri = "mongodb+srv://zuxing:88889999@cluster0.tgdoqf9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

myclient = pymongo.MongoClient(uri, server_api = ServerApi('1'), tls=True, tlsAllowInvalidCertificates=True)

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

**Important**: In MongoDB, a collection is not created until it gets content!

## Check if Collection Exists
Remember: In MongoDB, a collection is not created until it gets content, so if this is your first time creating a collection, you should complete the next chapter (create document) before you check if the collection exists!

In [10]:
# Return a list of all collections in your database:
print(mydb.list_collection_names())

[]

In [11]:
# Check if the "customers" collection exists:

collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

# Insert
Insert Document. A **document** in MongoDB is the same as a **record** in SQL databases.

## Insert Into Collection
To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [12]:
# Insert a record in the "customers" collection:
mydict = {"name": "Jhon", "address": "Highway 37"}
x = mycol.insert_one(mydict)

In [13]:
print(x)

InsertOneResult(ObjectId('66908f8d23f03eb6b75531b5'), acknowledged=True)

## Return the _id Field
The `insert_one()` method returns a InsertOneResult object, which has a property, `inserted_id`, that holds the id of the inserted document.

In [14]:
# Insert another record in the "customers" collection, and return the value of the _id field:

mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

6690901d23f03eb6b75531b6

If you do not specify an `_id` field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no `_id` field was specified, so MongoDB assigned a unique _id for the record (document).

# Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the `insert_many()` method.

The first parameter of the `insert_many()` method is a list containing dictionaries with the data you want to insert:

In [15]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('669090fa23f03eb6b75531b7'), ObjectId('669090fa23f03eb6b75531b8'), ObjectId('669090fa23f03eb6b75531b9'), ObjectId('669090fa23f03eb6b75531ba'), ObjectId('669090fa23f03eb6b75531bb'), ObjectId('669090fa23f03eb6b75531bc'), ObjectId('669090fa23f03eb6b75531bd'), ObjectId('669090fa23f03eb6b75531be'), ObjectId('669090fa23f03eb6b75531bf'), ObjectId('669090fa23f03eb6b75531c0'), ObjectId('669090fa23f03eb6b75531c1'), ObjectId('669090fa23f03eb6b75531c2')]

The insert_many() method returns a InsertManyResult object, which has a property, inserted_ids, that holds the ids of the inserted documents.

## Insert Multiple Documents, with Specified IDs
If you do not want MongoDB to assign unique ids for your document, you can specify the _id field when you insert the document(s).

Remember that the values has to be unique. Two documents cannot have the same _id.

In [16]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]