# MongoDB
MongoDB stores data in JSON-like documents, which makes the database very flexible and scalable.

To be able to experiment with the code examples in this tutorial, you will need access to a MongoDB database.

You can download a free MongoDB database at https://www.mongodb.com.

Or get started right away with a MongoDB cloud service at https://www.mongodb.com/cloud/atlas.

In [21]:
# pip3 install pymongo
import pymongo
from pymongo.server_api import ServerApi

uri = "mongodb+srv://zuxing:88889999@cluster0.tgdoqf9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

myclient = pymongo.MongoClient(uri, server_api = ServerApi('1'), tls=True, tlsAllowInvalidCertificates=True)

mydb = myclient["mydatabase"]

In [22]:
from pymongo import MongoClient

uri = "mongodb+srv://zuxing:88889999@cluster0.tgdoqf9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(uri, tls=True, tlsAllowInvalidCertificates=True)

try:
    database = client.get_database("sample_mflix")
    movies = database.get_collection("movies")

    # Query for a movie that has the title 'Back to the Future'
    query = { "title": "Back to the Future" }
    movie = movies.find_one(query)

    print(movie)

    client.close()

except Exception as e:
    raise Exception("Unable to find the document due to the following error: ", e)

{'_id': ObjectId('573a1398f29313caabce9682'), 'plot': 'A young man is accidentally sent 30 years into the past in a time-traveling DeLorean invented by his friend, Dr. Emmett Brown, and must make sure his high-school-age parents unite in order to save his own existence.', 'genres': ['Adventure', 'Comedy', 'Sci-Fi'], 'runtime': 116, 'metacritic': 86, 'rated': 'PG', 'cast': ['Michael J. Fox', 'Christopher Lloyd', 'Lea Thompson', 'Crispin Glover'], 'poster': 'https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_SX677_AL_.jpg', 'title': 'Back to the Future', 'fullplot': 'Marty McFly, a typical American teenager of the Eighties, is accidentally sent back to 1955 in a plutonium-powered DeLorean "time machine" invented by slightly mad scientist. During his often hysterical, always amazing trip back in time, Marty must make certain his teenage parents-to-be meet and fall in love - so he can get back to the future.', 'languages': ['English'], 'released': datetime.datetime(1985, 7, 3, 0, 0), 'directors': ['Robert Zemeckis'], 'writers': ['Robert Zemeckis', 'Bob Gale'], 'awards': {'wins': 19, 'nominations': 24, 'text': 'Won 1 Oscar. Another 18 wins & 24 nominations.'}, 'lastupdated': '2015-09-12 00:29:36.890000000', 'year': 1985, 'imdb': {'rating': 8.5, 'votes': 636511, 'id': 88763}, 'countries': ['USA'], 'type': 'movie', 'num_mflix_comments': 0}

In [23]:
# Send a ping to confirm a successful connection
try:
    myclient.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [24]:
# Return a list of your system's databases:
print(myclient.list_database_names())

['sample_mflix', 'admin', 'local']

In [25]:
# Check if "mydatabase" exists:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

# Create Collection
A **collection** in MongoDB is the same as a **table** in SQL databases.
## Creating a Collection
To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist

In [26]:
import pymongo

uri = "mongodb+srv://zuxing:88889999@cluster0.tgdoqf9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

myclient = pymongo.MongoClient(uri, server_api = ServerApi('1'), tls=True, tlsAllowInvalidCertificates=True)

mydb = myclient["mydatabase"]

mycol = mydb["customers"]

**Important**: In MongoDB, a collection is not created until it gets content!

## Check if Collection Exists
Remember: In MongoDB, a collection is not created until it gets content, so if this is your first time creating a collection, you should complete the next chapter (create document) before you check if the collection exists!

In [27]:
# Return a list of all collections in your database:
print(mydb.list_collection_names())

[]

In [28]:
# Check if the "customers" collection exists:

collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

# Insert
Insert Document. A **document** in MongoDB is the same as a **record** in SQL databases.

## Insert Into Collection
To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [29]:
# Insert a record in the "customers" collection:
mydict = {"name": "Jhon", "address": "Highway 37"}
x = mycol.insert_one(mydict)

In [30]:
print(x)

InsertOneResult(ObjectId('6690c5e24dce6c087058f68e'), acknowledged=True)

## Return the _id Field
The `insert_one()` method returns a InsertOneResult object, which has a property, `inserted_id`, that holds the id of the inserted document.

In [31]:
# Insert another record in the "customers" collection, and return the value of the _id field:

mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

6690c5e24dce6c087058f68f

If you do not specify an `_id` field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no `_id` field was specified, so MongoDB assigned a unique _id for the record (document).

## Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the `insert_many()` method.

The first parameter of the `insert_many()` method is a list containing dictionaries with the data you want to insert:

In [32]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('6690c5e24dce6c087058f690'), ObjectId('6690c5e24dce6c087058f691'), ObjectId('6690c5e24dce6c087058f692'), ObjectId('6690c5e24dce6c087058f693'), ObjectId('6690c5e24dce6c087058f694'), ObjectId('6690c5e24dce6c087058f695'), ObjectId('6690c5e24dce6c087058f696'), ObjectId('6690c5e24dce6c087058f697'), ObjectId('6690c5e24dce6c087058f698'), ObjectId('6690c5e24dce6c087058f699'), ObjectId('6690c5e24dce6c087058f69a'), ObjectId('6690c5e24dce6c087058f69b')]

The insert_many() method returns a InsertManyResult object, which has a property, inserted_ids, that holds the ids of the inserted documents.

## Insert Multiple Documents, with Specified IDs
If you do not want MongoDB to assign unique ids for your document, you can specify the _id field when you insert the document(s).

Remember that the values has to be unique. Two documents cannot have the same _id.

In [33]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Find
In MongoDB we use the find() and find_one() methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.

## Find One
To select data from a collection in MongoDB, we can use the `find_one()` method.

The `find_one()` method returns the **first** occurrence in the selection.

In [34]:
# Find the first document in the customers collection:
x = mycol.find_one()
print(x)

{'_id': ObjectId('6690c5e24dce6c087058f68e'), 'name': 'Jhon', 'address': 'Highway 37'}

## Find All
To select data from a table in MongoDB, we can also use the `find()` method.

The `find()` method returns all occurrences in the selection.

The first parameter of the `find()` method is a query object. In this example we use an empty query object, which selects all documents in the collection.

No parameters in the find() method gives you the same result as **SELECT \*** in MySQL.

In [35]:
# Return all documents in the "customers" collection, and print each document:
for x in mycol.find():
    print(x)

{'_id': ObjectId('6690c5e24dce6c087058f68e'), 'name': 'Jhon', 'address': 'Highway 37'}
{'_id': ObjectId('6690c5e24dce6c087058f68f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6690c5e24dce6c087058f690'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6690c5e24dce6c087058f691'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6690c5e24dce6c087058f692'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6690c5e24dce6c087058f693'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6690c5e24dce6c087058f694'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6690c5e24dce6c087058f696'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6690c5e24dce6c087058f697'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6690c5e24dce6c087058f698'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6690c5e24dce6c087058f699'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6690c5e24dce6c087058f69a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Return Only Some Fields
The second parameter of the `find()` method is an object describing which fields to include in the result.

This parameter is optional, and if omitted, all fields will be included in the result.

In [36]:
from pymongo import MongoClient

uri = "mongodb+srv://zuxing:88889999@cluster0.tgdoqf9.mongodb.net/mydatabase?retryWrites=true&w=majority&appName=Cluster0"
myclient = MongoClient(uri, tls=True, tlsAllowInvalidCertificates=True)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]
# Return only the names and addresses, not the _ids:
for x in mycol.find({}, {"_id":0,"name":1,"address":1}):
    print(x)

{'name': 'Jhon', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

You are not allowed to specify both 0 and 1 values in the same object (except if one of the fields is the _id field). If you specify a field with the value 0, all other fields get the value 1, and vice versa:

In [37]:
# This example will exclude "address" from the result:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('6690c5e24dce6c087058f68e'), 'name': 'Jhon'}
{'_id': ObjectId('6690c5e24dce6c087058f68f'), 'name': 'Peter'}
{'_id': ObjectId('6690c5e24dce6c087058f690'), 'name': 'Amy'}
{'_id': ObjectId('6690c5e24dce6c087058f691'), 'name': 'Hannah'}
{'_id': ObjectId('6690c5e24dce6c087058f692'), 'name': 'Michael'}
{'_id': ObjectId('6690c5e24dce6c087058f693'), 'name': 'Sandy'}
{'_id': ObjectId('6690c5e24dce6c087058f694'), 'name': 'Betty'}
{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard'}
{'_id': ObjectId('6690c5e24dce6c087058f696'), 'name': 'Susan'}
{'_id': ObjectId('6690c5e24dce6c087058f697'), 'name': 'Vicky'}
{'_id': ObjectId('6690c5e24dce6c087058f698'), 'name': 'Ben'}
{'_id': ObjectId('6690c5e24dce6c087058f699'), 'name': 'William'}
{'_id': ObjectId('6690c5e24dce6c087058f69a'), 'name': 'Chuck'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

You get an error if you specify both 0 and 1 values in the same object (except if one of the fields is the _id field):

In [38]:
# for x in mycol.find({},{ "name": 1, "address": 0 }):
for x in mycol.find({},{ "_id": 1, "address": 0 }):
  print(x)

{'_id': ObjectId('6690c5e24dce6c087058f68e'), 'name': 'Jhon'}
{'_id': ObjectId('6690c5e24dce6c087058f68f'), 'name': 'Peter'}
{'_id': ObjectId('6690c5e24dce6c087058f690'), 'name': 'Amy'}
{'_id': ObjectId('6690c5e24dce6c087058f691'), 'name': 'Hannah'}
{'_id': ObjectId('6690c5e24dce6c087058f692'), 'name': 'Michael'}
{'_id': ObjectId('6690c5e24dce6c087058f693'), 'name': 'Sandy'}
{'_id': ObjectId('6690c5e24dce6c087058f694'), 'name': 'Betty'}
{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard'}
{'_id': ObjectId('6690c5e24dce6c087058f696'), 'name': 'Susan'}
{'_id': ObjectId('6690c5e24dce6c087058f697'), 'name': 'Vicky'}
{'_id': ObjectId('6690c5e24dce6c087058f698'), 'name': 'Ben'}
{'_id': ObjectId('6690c5e24dce6c087058f699'), 'name': 'William'}
{'_id': ObjectId('6690c5e24dce6c087058f69a'), 'name': 'Chuck'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

# Query
## Filter the Result
When finding documents in a collection, you can filter the result by using a query object.

The first argument of the `find()` method is a query object, and is used to limit the search.

In [39]:
# Find document(s) with the address "Park Lane 38":
myquery = {"address": "Park Lane 38"}

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6690c5e24dce6c087058f698'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

## Advanced Query
To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: `{"$gt": "S"}`:

In [40]:
# Find documents where the address starts with the letter "S" or higher:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('6690c5e24dce6c087058f692'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6690c5e24dce6c087058f697'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Filter with Regular Expressions
You can also use regular expressions as a modifier.

Regular expressions can only be used to query strings.

To find only the documents where the "address" field starts with the letter "S", use the regular expression `{"$regex": "^S"}`:

In [41]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Sort
## Sort the Result
Use the `sort()` method to sort the result in ascending or descending order.

The `sort()` method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [42]:
# Sort the result alphabetically by name:
mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': ObjectId('6690c5e24dce6c087058f690'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6690c5e24dce6c087058f698'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6690c5e24dce6c087058f694'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6690c5e24dce6c087058f69a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6690c5e24dce6c087058f691'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6690c5e24dce6c087058f68e'), 'name': 'Jhon', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6690c5e24dce6c087058f692'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6690c5e24dce6c087058f68f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6690c5e24dce6c087058f693'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6690c5e24dce6c087058f696'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6690c5e24dce6c087058f697'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6690c5e24dce6c087058f699'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

## Sort Descending
Use the value -1 as the second parameter to sort descending.

> sort("name", 1) #ascending  
> sort("name", -1) #descending

In [43]:
# Sort the result reverse alphabetically by name:
mydoc = mycol.find().sort("name", -1)
for x in mydoc:
  print(x)

{'_id': ObjectId('6690c5e24dce6c087058f699'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6690c5e24dce6c087058f697'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6690c5e24dce6c087058f696'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6690c5e24dce6c087058f693'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6690c5e24dce6c087058f68f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6690c5e24dce6c087058f692'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6690c5e24dce6c087058f68e'), 'name': 'Jhon', 'address': 'Highway 37'}
{'_id': ObjectId('6690c5e24dce6c087058f691'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6690c5e24dce6c087058f69a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6690c5e24dce6c087058f694'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6690c5e24dce6c087058f698'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6690c5e24dce6c087058f690'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

# Delete
## Delete Document
To delete one document, we use the `delete_one()` method.

The first parameter of the `delete_one()` method is a query object defining which document to delete.

Note: If the query finds more than one document, only the **first** occurrence is deleted.

In [44]:
# Delete the document with the address "Mountain 21":
myquery = { "address": "Mountain 21" }
mycol.delete_one(myquery)

for x in mycol.find():
    print(x)

{'_id': ObjectId('6690c5e24dce6c087058f68e'), 'name': 'Jhon', 'address': 'Highway 37'}
{'_id': ObjectId('6690c5e24dce6c087058f68f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6690c5e24dce6c087058f690'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6690c5e24dce6c087058f692'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6690c5e24dce6c087058f693'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6690c5e24dce6c087058f694'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6690c5e24dce6c087058f695'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6690c5e24dce6c087058f696'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6690c5e24dce6c087058f697'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6690c5e24dce6c087058f698'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6690c5e24dce6c087058f699'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6690c5e24dce6c087058f69a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6690c5e24dce6c087058f69b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Delete Many Documents
To delete more than one document, use the `delete_many()` method.

The first parameter of the `delete_many()` method is a query object defining which documents to delete.

In [45]:
# Delete all documents were the address starts with the letter S:
myquery = { "address": {"$regex": "^S"} }
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

4  documents deleted.

## Delete All Documents in a Collection
To delete all documents in a collection, pass an empty query object to the delete_many() method:

In [46]:
# Delete all documents in the "customers" collection:
x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

23  documents deleted.

# Drop Collection
## Delete Collection
You can delete a table, or collection as it is called in MongoDB, by using the `drop()` method.

In [47]:
# Delete the "customers" collection:
mycol.drop()

The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.

# Update
## Update Collection
You can update a record, or document as it is called in MongoDB, by using the `update_one()` method.

The first parameter of the `update_one()` method is a query object defining which document to update.

**Note**: If the query finds more than one record, only the first occurrence is updated.

The second parameter is an object defining the new values of the document.

In [48]:
x = mycol.insert_many(mylist)
# Change the address from "Valley 345" to "Canyon 123":
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)

# Print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Update Many
To update all documents that meets the criteria of the query, use the `update_many()` method.

In [49]:
# Update all documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }
x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

# Limit
## Limit the Result
To limit the result in MongoDB, we use the `limit()` method.

The `limit()` method takes one parameter, a number defining how many documents to return.

Consider you have a "customers" collection. Limit the result to only return 5 documents:

In [50]:
myresult = mycol.find().limit(5)

# print the result:
for x in myresult:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}