# Get Started
## Test MySQL Connector
To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

In [1]:
import mysql.connector

## Create Connection
Start by creating a connection to the database.

Use the username and password from your MySQL database:

In [3]:
# demo_mysql_connection.py:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x10e136db0>

# Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [4]:
# create a database named "mydatabase":
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

## Check if Database Exists
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [5]:
# Return a list of your system's databases:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

Or you can try to access the database when making the connection:

In [6]:
# Try connecting to the database "mydatabase":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

# Create Table
To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection

In [10]:
# Create a table named "customers"
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

## Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [11]:
# Return a list of your system's databases:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

## Primary Key
When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement "`INT AUTO_INCREMENT PRIMARY KEY`" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [13]:
# Create primary key when creating the table:
# delete the table first
mycursor.execute("DROP TABLE customers")
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

If the table already exists, use the `ALTER TABLE` keyword:

In [15]:
mycursor.execute("DROP TABLE customers")
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
# Create primary key on an existing table:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Insert Into Table
To fill a table in MySQL, use the 'INSERT INTO' statement.

In [16]:
# insert a record in the "customers" table:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

## Insert Multiple Rows
To insert multiple rows into a table, use the `executemany()` method.

The second parameter of the `executemany()` method is a list of tuples, containing the data you want to insert:

In [18]:
# Fill the "customers" table with data:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

13 was inserted.

## Get Inserted ID
You can get the id of the row you just inserted by asking the cursor object.

Note: If you insert more than one row, the id of the last inserted row is returned.

In [20]:
# Insert one row, and return the ID:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

# Select From
To select from a table in MySQL, use the "SELECT" statement:

In [21]:
# Select all records from the "customers" table, and display the result:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

**Note**: We use the `fetchall()` method, which fetches all rows from the last executed statement.

## Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [27]:
# Select only the name and address columns:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

## Using the fetchone() Method
If you are only interested in one row, you can use the `fetchone()` method.

The `fetchone()` method will return the first row of the result:

In [23]:
# Fetch only one row:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

# Where
## Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [28]:
# Select record(s) where the address is "Park Lane 38": result:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

## Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the `%` to represent wildcard characters:

In [29]:
# Select records where the address contains the word "way":
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

## Prevent SQL Injection
When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values:

In [30]:
# Escape query values by using the placholder %s method:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)