# Get Started
## Test MySQL Connector
To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

In [26]:
import mysql.connector

## Create Connection
Start by creating a connection to the database.

Use the username and password from your MySQL database:

In [27]:
# demo_mysql_connection.py:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x104aeb680>

# Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [28]:
# create a database named "mydatabase":
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE if exists mydatabase")
mycursor.execute("CREATE DATABASE mydatabase")

## Check if Database Exists
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [29]:
# Return a list of your system's databases:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

Or you can try to access the database when making the connection:

In [30]:
# Try connecting to the database "mydatabase":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

# Create Table
To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection

In [31]:
# Create a table named "customers"
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

## Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [32]:
# Return a list of your system's databases:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

## Primary Key
When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement "`INT AUTO_INCREMENT PRIMARY KEY`" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [33]:
# Create primary key when creating the table:
# delete the table first
mycursor.execute("DROP TABLE customers")
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

If the table already exists, use the `ALTER TABLE` keyword:

In [34]:
mycursor.execute("DROP TABLE customers")
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
# Create primary key on an existing table:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Insert Into Table
To fill a table in MySQL, use the 'INSERT INTO' statement.

In [35]:
# insert a record in the "customers" table:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

## Insert Multiple Rows
To insert multiple rows into a table, use the `executemany()` method.

The second parameter of the `executemany()` method is a list of tuples, containing the data you want to insert:

In [36]:
# Fill the "customers" table with data:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

13 record was inserted.

## Get Inserted ID
You can get the id of the row you just inserted by asking the cursor object.

Note: If you insert more than one row, the id of the last inserted row is returned.

In [37]:
# Insert one row, and return the ID:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

# Select From
To select from a table in MySQL, use the "SELECT" statement:

In [38]:
# Select all records from the "customers" table, and display the result:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

**Note**: We use the `fetchall()` method, which fetches all rows from the last executed statement.

## Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [39]:
# Select only the name and address columns:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="88889999",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

## Using the fetchone() Method
If you are only interested in one row, you can use the `fetchone()` method.

The `fetchone()` method will return the first row of the result:

In [40]:
# Fetch only one row:
mycursor.reset()
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

# Where
## Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [41]:
# Select record(s) where the address is "Park Lane 38": result:
mycursor.reset()
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

## Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the `%` to represent wildcard characters:

In [42]:
# Select records where the address contains the word "way":
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

## Prevent SQL Injection
When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values:

In [43]:
# Escape query values by using the placholder %s method:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)

# Order By
## Sort the Result
Use the ORDER BY statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [44]:
# Sort the result alphabetically by name
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Michelle', 'Blue Village', 15)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

## ORDER BY DESC
Use the DESC keyword to sort the result in a descending order.

In [45]:
# Sort the result reverse alphabetically by name:
sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954', 12)
('Viola', 'Sideway 1633', 14)
('Vicky', 'Yellow Garden 2', 10)
('Susan', 'One way 98', 9)
('Sandy', 'Ocean blvd 2', 6)
('Richard', 'Sky st 331', 8)
('Peter', 'Lowstreet 4', 2)
('Michelle', 'Blue Village', 15)
('Michael', 'Valley 345', 5)
('John', 'Highway 21', 1)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Betty', 'Green Grass 1', 7)
('Ben', 'Park Lane 38', 11)
('Amy', 'Apple st 652', 3)

# Delete From By
## Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

In [46]:
# Delete any record where the address is "Mountain 21":
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

## Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder `%s` to escape values in the delete statement:

In [47]:
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

# Update Table
You can update existing records in a table by using the "UPDATE" statement:

In [48]:
# Overwrite the address column from "Valley 345" to "Canyon 123":
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

## Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the update statement:

In [49]:
# Escape values by using the placeholder %s method:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

# MySQL Limit
## Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [50]:
# Select the 5 first records in the "customers" table:
mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)

# Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword

In [51]:
# Start from position 3, and return 5 records:
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', 3)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)

# Join
## Join Two or More Tables
You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

Consider you have a "users" table and a "products" table:

users  
`{ id: 1, name: 'John', fav: 154},
{ id: 2, name: 'Peter', fav: 154},
{ id: 3, name: 'Amy', fav: 155},
{ id: 4, name: 'Hannah', fav:},
{ id: 5, name: 'Michael', fav:}`

products  
`{ id: 154, name: 'Chocolate Heaven' },
{ id: 155, name: 'Tasty Lemons' },
{ id: 156, name: 'Vanilla Dreams' }`

In [53]:
create_p_sql = 'CREATE TABLE IF NOT EXISTS products (id INT PRIMARY KEY, name VARCHAR(255) NOT NULL)'

create_u_sql = 'CREATE TABLE IF NOT EXISTS users (id INT PRIMARY KEY, name VARCHAR(255) NOT NULL, fav INT, FOREIGN KEY (fav) REFERENCES products(id))'

mycursor.execute(create_p_sql)
mycursor.execute(create_u_sql)

insert_p_sql = 'INSERT INTO products (id, name) VALUES (%s, %s)'
insert_u_sql = 'INSERT INTO users (id, name, fav) VALUES (%s, %s, %s)'
val_p = [(154, 'Chocolate Heaven'), (155, 'Tasty Lemons'), (156, 'Vanilla Dreams')]
val_u = [(1, 'John', 154), (2, 'Peter', 154), (3, 'Amy', 155), (4, 'Hannah', None), (5, 'Michael', None)]

mycursor.executemany(insert_p_sql, val_p)
mycursor.executemany(insert_u_sql, val_u)

mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

5 record(s) inserted.

In [54]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')

Note: You can use JOIN instead of INNER JOIN. They will both give you the same result.

## LEFT JOIN
In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.

If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement:

In [56]:
# Select all users and their favorite product:

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', None)
('Michael', None)

## RIGHT JOIN
If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the RIGHT JOIN statement:

In [57]:
# Select all products, and the user(s) who have them as their favorite:

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
(None, 'Vanilla Dreams')

# Drop Table
## Delete a Table
You can delete an existing table by using the "DROP TABLE" statement:

In [23]:
# Delete the table "customers":
sql = "Drop TABLE customers"

mycursor.execute(sql)

## Drop Only if Exist
If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

In [24]:
sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [25]:
mycursor.execute("SHOW TABLES")